<a href="https://colab.research.google.com/github/sakshi0071/Data-Manipulation/blob/master/phython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print ("hello world")

hello world

hello world with a variable

In [3]:
msg="hello world"
print(msg)

hello world

concatenation

In [14]:
first_name ="sakshi"
second_name="mehra"
full_name= first_name +' '+second_name 
print(full_name)

sakshi mehra

lists

Make a list

In [18]:
fruits = ["oranges","apples","banana"]

get the first item in the list

In [19]:
First_fruit= fruits[0]

get the last item in the list

In [20]:
last_fruit= fruits[-1]

looping through a list

In [21]:
print(fruits)

['oranges', 'apples', 'banana']

adding item to a list

In [28]:
fruits= [] 
fruits.append("oranges")
fruits.append("apples")
fruits.append("banana")

making numerical list

In [30]:
squares=[]
for x in range(1,11):
  squares.append(x**2)

parameters and arguments

In [36]:
abs(5)
abs(-5)
a=45
b=89
abs(a-b)
abs(b-a)

44

In [39]:
print_twice("hi")
print_twice ("hi *3")

NameError: ignored